<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
         
      </div>
    </div>
  </div>
</div> 
 


<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="container mt-3">
    <!-- Search-->
    <div class="wrap">
      <div class="search">
          <input type="text" class="searchtext" placeholder="Search...">
          <button type="submit" class="btn search-button">
            <i class="fa fa-search"></i>
          </button>
          <button class="btn btn-raised btn-danger btn-left" type="button"> 
            <span class="d-lg-block d-none">Add User<li class="ni ni-fat-add"></li></span> 
          </button>
      </div>  
    </div> 
    <br> 
    <!-- Filters -->
    <div class="wrap" style="border-top:1px solid #19469D;" >
      <br>
      <div class="users">
        <h2>All Users</h2> 
        <button class="btn btn-raised btn-danger btn-exp" type="button"> 
          <span class="d-lg-block d-none">Add User<li class="ni ni-fat-add"></li></span> 
        </button> 
      </div>  
    </div> 
  <!-- Table -->
   
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow"> 
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User</th>
                <th scope="col">Department</th>
                <th scope="col">Title</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img src="{{user.photoUrl  || '../../../../../assets/img/user.png'}}">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{user.name}} {{user.surname}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{user.department}}
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{user.title}}
                  </span>
                </td>
                <td>
                  {{user.country}}
                </td>
                <td>
                  {{user.city}}
                </td>
                <td>
                  {{user.phone}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                    </div>
                  </div>
                </td>
              </tr>
               
               
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
