 
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a [routerLink]="['/members']" routerLinkActive="router-link-active">
                        <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                            Users
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a [routerLink]="['/messages']" routerLinkActive="router-link-active">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Messages
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a [routerLink]="['/lists']" routerLinkActive="router-link-active">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            List
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a [routerLink]="['/to-do']" routerLinkActive="router-link-active">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            ToDo
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                           Quotes
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body> 