<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Find your task</h1>
    <p class="lead">Come on in to view your tasks... All you need to do is sign up!</p>
    <div class="text-center">
      <button *ngIf="!loggedIn()" class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register   (cancelRegister)="cancelRegisterMode($event)" ></app-register> 
    </div>
  </div>
</div>
<main>
        
  <div class="container-fluid text-center" style="height: 880px;">

      <!--Card-->
      <div class="card card-cascade wider reverse my-4">

          <!--Card image-->
          <div class="view overlay hm-white-slight wow fadeIn" style="animation-name: none; visibility: visible;">
              <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(137).jpg" class="img-fluid">
              <a href="#!">
                  <div class="mask waves-effect waves-light"></div>
              </a>
          </div>
          <!--/Card image--> 

      </div>
      <!--/.Card-->
  
  </div>
  
</main>