<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
      </div>
    </div>
  </div>
</div>
<div  class="chat-application">
  <div #contentOverlay class="content-overlay"  ></div>
  <div  #chatSidebar class="chat-sidebar float-left d-none d-sm-none d-md-block d-lg-block">
    <div class="chat-sidebar-content">
      <div style="margin-top: 10px;"  class="chat-fixed-search p-2">
        <form>
          <div class="position-relative has-icon-left">
            <input class="form-control" id="timesheetinput1" name="employeename" type="text">
            <div class="form-control-position">
              <i class="fas fa-users"></i>
            </div>
          </div>
        </form>
      </div>
      <div id="users-list" class="list-group position-relative">
        <div class="users-list-padding">
          <a *ngFor="let message of messages" class="list-group-item bg-blue-grey bg-lighten-5 border-right-primary border-right-2"  >
            <span class="media">
              <span class="avatar avatar-md avatar-online">
                <img src={{message?.senderPhotoUrl}} width="37" class="rounded-circle mr-1" >
                <i></i>
              </span>
              <div class="media-body  text-left">
                <h6 class="list-group-item-heading">{{message.senderUsername}}
                  <span class="font-small-3 float-right primary">{{message.messageSent | date: 'shortTime'}}</span>
                </h6>
                <p class="list-group-item-text text-muted">
                  <i class="ft-check primary font-small-2"></i> {{message.content}}
                  <span class="float-right primary">
                    <i class="font-medium-1 icon-pin blue-grey lighten-3"></i>
                  </span>
                </p>
              </div>
            </span>
          </a>
           
        </div>
      </div>
    </div>
  </div>
  <div class="chat-name p-2 bg-white">
    <div class="media">
      <span class="chat-app-sidebar-toggle ft-align-justify font-large-1 mr-2 d-none d-block d-sm-block d-md-none" ></span>
      <div class="media-body text-left">
        <img [src]="[ ]" width="37" class="rounded-circle mr-1" alt="avatar" />
        <span> </span>
        <i class="ft-more-vertical float-right mt-1"></i>
      </div>
    </div>
  </div>
  <section class="chat-app-window" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="badge badge-dark mb-1">Chat History</div>
    <div class="chats">
      <div class="chats">
        <div [ngClass]="[chat.chatClass]" *ngFor="let chat of chat">
          <div class="chat-avatar">
            <a class="avatar" data-toggle="tooltip" data-placement="[chat.avatar]" title="" data-original-title="">
              <img [src]="[chat.imagePath]" class="width-50" alt="avatar" />
            </a>
          </div>
          <div class="chat-body">
            <div class="chat-content" *ngFor="let message of chat.messages">
              <p *ngIf="chat.messageType === 'text'">{{ message }}</p>
              
            </div>
          </div>
          <p class="time" *ngIf="chat.time !='' ">{{chat.time}}</p>
        </div>

        <div class="chat"  >
          <div class="chat-avatar">
            <a class="avatar" data-toggle="tooltip" data-placement="right" title="" data-original-title="">
              <img src="../../../assets/img/avatar-s-1.png" class="width-50" alt="avatar" />
            </a>
          </div>
          <div class="chat-body">
            <div class="chat-content"  >
              <p> </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="chat-app-form bg-blue-grey bg-lighten-5">
    <form class="chat-app-input row mt-2">
      <fieldset class="form-group position-relative has-icon-left col-lg-10 col-8 m-0 px-3">
        <div class="form-control-position">
          <i class="icon-emoticon-smile"></i>
        </div>
        <input type="text" class="form-control" id="iconLeft4" placeholder="Type your message"  
        #messageInput>
        <div class="form-control-position control-position-right">
          <i class="ft-image mr-1"></i>
        </div>
      </fieldset>
      <fieldset class="form-group position-relative has-icon-left col-lg-2 col-4 m-0">
        <button type="button" class="btn btn-raised btn-primary px-4"  >
          <i class="fa fa-paper-plane-o d-block d-xl-inline-block d-lg-none p-0"></i>
          <span class="d-none d-lg-inline-block ml-1"  (click)="loadMessages()">Send</span>
        </button>
      </fieldset>
    </form>
  </section>
</div>
